@import 'fonts';
@import 'burger';

$black: #272a27;
$white: #eaeaea;
$green: #697769;
$lightGreen: #9FB59E;
$darkGreen: #3b3e3b;
$red: #e4d1cb;
$arial: 'Arial';
$arialBold: 'Arial Bold';
$hkReg: 'HKGrotesk-Regular';
$hkBold: 'HKGrotesk-SemiBold';
$libreReg: 'LibreBaskerville-Regular';
$libreBold: 'LibreBaskerville-Bold';

.hide{
	display: none;
}

img{
	max-width: 100%;
	max-height: 100%;
}

p,h1,h2,h3,h4,h5,h6{
	color: $black;
}

// STYLES

p{
	font-family: $arial;
	font-size: 1rem;
	line-height: 28px;
	letter-spacing: 0.025em;
}

h2{
	font-family: $arialBold;
	text-transform: uppercase;
	line-height: 25px;
	font-size: 1rem;
	letter-spacing: 0.2em;
}

h3{
	font-family: $libreReg;
	line-height: 40px;
	letter-spacing: 0.05em;
	font-size: 1.875rem;
	text-transform: lowercase;
}

body{
	height: 2000px;
}

.green{
	color: $green;
}

.red{
	color: $red;
}
.white{
	color: $white;
}
.black{
	color: $black;
}

.activeButton{
	background-color: $white;

}

.buttonWhite{
	text-align: center;
	border-radius: 25px;
	background: none;
	width: 120px;
	margin: 0 auto;
	border: 2px solid $white;
	padding: 8px 10px;
	text-transform: uppercase;
	cursor: pointer;

	a{
		text-decoration: none;
		color: $white;
		font-family: $hkBold;
		line-height: 0px;
		font-size: .875rem;
		letter-spacing: 0.2em;
	}
}
.buttonGreen{
	width: 170px;
	text-align: center;
	border-radius: 25px;
	background: $green;
	padding: 8px 0;
	text-transform: uppercase;
	cursor: pointer;

	a{
		text-decoration: none;
		color: $white;
		font-family: $hkBold;
		line-height: 0px;
		font-size: .875rem;
		letter-spacing: 0.2em;
	}
}

.buttonRed{
	width: 170px;
	text-align: center;
	border-radius: 25px;
	background: $red;
	padding: 8px 0;
	text-transform: uppercase;
	cursor: pointer;
	
	a{
		text-decoration: none;
		color: $black;
		font-family: $hkBold;
		line-height: 0px;
		font-size: .875rem;
		letter-spacing: 0.2em;
	}
}

// HEADER
#mainHeader{
	background: none;
	position: fixed;
	top: 0;
	z-index: 99;
	width: 100%;
}

#mobileMenu{
	position: absolute;
	width: 100%;
	height: 100vh;
	background: $lightGreen;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	right: -100%;
	opacity: 0;
	transition: 0.3s;

	li {
		margin: 60px 0;
		letter-spacing: 2px;

		a{
			color: $white;
		}
		a:hover{
			text-decoration: none;
		}
	}
}


#mobileMenu.openMenu{
	right: 0;
	opacity: 1;
	transition: 0.5s;
}

// FOOTER
#mainFooter{
	padding: 60px 0;
	background: $black;
	margin-bottom: 0px;

	h2,h3,p,a{
		color: $white;
	}

	h2{
		padding-bottom: 15px;
		border-bottom: 2px solid $darkGreen;
		margin-bottom: 25px;
	}
}

#footerSm{
	margin-bottom: 20px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	a{
		font-size: 1.75rem;
	}
}

.footerInfoCon{
	margin-top: 60px;
}

.footerInfoCon:first-child{
	margin-top: 0px;
}

#footerNav{
	ul li{
		margin-bottom: 16px;
		a{
			font-family: $arial;
			text-decoration: none;
		}
	} 
}

#copyright{
	margin-top: 50px;
	text-align: center;

}

#subscribeButtonCon{
	overflow: hidden;
	margin-top: 20px;
	display: block;
	width: 225px;
}

#subscribeInput{
	border-radius:  25px 0 0 25px;
	border: none;
	height: 30px;
	padding: 0px 10px;
	margin: 0px;
	width: 175px;
	display: block;
	float: left;
}
#subscribeInput:focus,#subscribeInput:active{
	outline: none;
}

#subscribeButt{
	margin: 0px;
	padding: 0;
	display: block;
	float: left;

	button{
		height: 30px;
		width: 50px;
		color: $white;
		text-align: center;
		background: $green;
		border-radius: 0 25px 25px 0;
		border: none;
		font-family: $arialBold;
		font-size: 14px;
		letter-spacing: 0.025em;
	}
	button:active,button:focus{
		outline: none;
		opacity: 0.5;
	}
}

//Landing

#landingTextCon{
	h2{
		letter-spacing: 3px;
		font-family: $arial;
	}
	h3{
		letter-spacing: 4px;
		font-size: 40px;
		margin-bottom: 20px;
	}
}

#mainLanding{
	background-image: url('../img/bg-mobile.jpg');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 100vh;
	position: relative;

	.row{
		height: 100%;
	}
}

#leavesImg{

}

#landingLogo{
	width: 240px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#landingTextCon{
	text-align: center;
	
	a,h2,h3,h4,p{
		color: $white;
	}
}

#landingButton{
	margin-top: 40px;
}


#landingDotCon{
	position: absolute;
	bottom: 0;
	padding-bottom: 50px;
	width: 85px;
	margin: 0 auto;
	left: 0;
	right: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.landingDot{
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 5px;
	border: 2px solid $white;
	border-radius: 50px;
}

// HEADER



//WHAT IS TURA CONTAINER
#whatCon{
	padding-top: 60px;

	h3{
		margin-bottom: 40px;
	}

	h2{
		margin-bottom: 10px;
	}

	.buttonRed{
		margin-top: 40px;
	}
}

#infoText{
	height: 200px;
}
#personalImg{
	margin: 40px 0 60px 0;
}
#personalDotCon{
	margin-top: 10px;
	text-align: center;
}

.personalDot{
	width: 15px;
	height: 15px;
	border-radius: 25px;
	border: 2px solid $red;
	display: inline-block;
	margin-right: 5px;
}

.activeDot{
	background: $red;
}

.personalDot:hover{
	cursor: pointer;
}

//Indoor Outdoor
#indoorCon{
	margin-top: 50px;
	height: 600px;
	background: url('../img/greenPlantBG.jpg');
	background-size: cover;
	background-position: center;
	text-align: center;

	h2{
		margin-bottom: 40px;
	}

	.container{
		height: 100%;
		.row{
			height: 100%;
		}
	}
}

//Features
#worksCon{
	padding-top: 60px;
}
#featureInfoHead{

	h2{
		margin-bottom: 10px;
	}
	h3{
		margin-bottom: 40px;
	}
}

.featureInfoCon{
	margin-bottom: 35px;
	h2{
		margin-bottom: 5px;
	}
}

#pottedPlantCon{
	padding: 0px;
	img{
		width: 100%;
		height: 100%;
	}
}


//App Info
#appCon{
	background-color: $black;
	padding-top: 80px;

	h2,h3,p{
		color: $white;
	}
}

#appInfo{
	h2{
		margin-bottom: 20px;
	}
	h3{
		margin-bottom: 40px;
	}
	p{
		margin-bottom: 40px;
	}
}

#appInfo2{
	h2{
		margin-bottom: 10px;
	}
}

#appPhones{
	margin-top: 100px;
	margin-bottom: 100px;
}

#appTablets{
	margin-top: 50px;
	img{
		height: 100%;
		width: 100%;
	}
}


//Video Section
#turaVideoCon{
	height: 600px;
	background: $red;

	.container,.row{
		height: 100%;
	}
	

}

//Order Tura
#orderCon{
	margin: 80px 0;

		h3,p{
			margin-bottom: 40px;
		}
		h2{
			margin-bottom: 10px;
		}
	}

#closeForm{
	color: $white;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 2rem;
	margin: 20px 20px 0 0;
}

#closeForm:hover,#closeForm:active,#closeForm:focus{
	outline: none;
	text-decoration: none;
	cursor: pointer;
}

#orderFormBlur{
	position: fixed;
	display: none;
	opacity: 0;
	z-index: 99;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.8);
}

#orderformCon{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	display: none;
	opacity: 0;
	right: 0;
	margin: auto;
	z-index: 99;
	padding: 100px 20px;
	text-align: center;
	background-image: url("/img/order-bg-desktop.jpg");
	background-repeat: no-repeat;
	transition: 1s;
	
	h2, h3{
		color: $white;
	}
	form{
		margin-top: 50px;
	}

	input{
		width: 90%;
		background: none;
		border: solid 2px #fff;
		margin-bottom: 20px;
		color: #fff;
		padding: 5px 10px;
		outline: none;
	}
	
	button{
		background-color: $white;
		margin-bottom: 20px;
		width: 90%;
		color: $green;
		outline: none;
		padding: 5px 0;
	}
}


@media screen and (min-width: 375px){

	#orderformCon{
	padding: 150px 20px;
	}
}

@media screen and (min-width: 414px){
	#orderformCon{

		background-image: url("/img/order-bg-mobile.jpg");

	}
}


@media screen and (min-width: 576px){

	#subscribeButtonCon{
		width: 155px;
	}
	#subscribeInput{
		width: 100px;
	}
	.footerInfoCon{
		margin-top: 0px;
	}

	#orderformCon{

		background-image: url("/img/order-bg-desktop.jpg");

	}

	#landingTextCon{

	h3{
		letter-spacing: 5px;
		font-size: 60px;
		margin-bottom: 30px;
	}
}
}

@media screen and (min-width: 600px){

	#infoText{
	height: 150px;
	}

	#landingLogo{
		width: 300px;
	}

	#whatCon h2{
		margin-bottom: 20px;
	}

	#featureInfoHead h2{
		margin-bottom: 20px;
	}
	#orderCon h2{
		margin-bottom: 20px;
	}

	.featureInfoCon, #featureInfoHead{
		padding-left: 40px;
		padding-right: 40px;
	}

	.featureInfoCon{
		margin-bottom: 20px;
	}
}


@media screen and (min-width: 768px){

	h3{
	line-height: 50px;
	}

	.fullscreen-bg {
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    height: 100%;
	    left: 0;
	    overflow: hidden;
	}

	.fullscreen-bg_video {
	    position: absolute;
	    top: 0;
	    left: 0;
	    min-height: 100%;
	    min-width: 100%;
	}
	

	//HEADER 
	#mainHeader{
		background-color: rgba(105,119,105,0);
		width: 100%;
		height: 74px;
		transition: 0.2s;
	}

	#headerNav{
		width: 100%;
		.buttonWhite{
			margin-left: auto;
			margin-right: 20px;
		}
	}

	#turaIconCon{
		width: 34px;
		position: absolute;
		margin: 0px auto;
		left: 0;
		right: 0;
	}
	#headerNav{
		position: absolute;
		top: 0;
		right: 0;
		height: 70px;

		ul{
			margin-top: 15px;

			li a{
				text-decoration: none;
				color: $white;
				font-family: $hkBold;
				line-height: 0px;
				font-size: .875rem;
				letter-spacing: 0.2em;
			}
		}
	}

	.hamburger{
		right: auto;
		left: 0;
		margin: 15px 0 0 20px;
	}

	//FOOTER
	#subscribeButtonCon{
		width: 160px;
	}
	#subscribeInput{
		width: 110px
	}


	//TYPE
	h3{
		font-size: 2.5rem;
	}
	p{
		line-height: 35px;
	}

	//FOOTER
	.footerInfoCon{
		margin-top: 0px;
		padding: 0 40px;
	}

	#subscribeInput{
		width: 90px;
	}

	#copyright{
		text-align: left;
		margin-top: 20px;
	}

	#landingLogo{
		max-width: 300px;
	}

	//WHAT CON
	#whatCon{
		padding-top: 100px;
		.buttonRed{
			margin-top: 40px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	#personalImg{
		margin-bottom: 100px;
	}

	#whatTura{
		text-align: center;
		width: 700px;
		margin: 0 auto;
	}

	//INDOOR OUTDOOR
	#indoorCon{
		margin-top: 100px;

	}

	//APP
	#worksCon{
		padding-top: 100px;
	}
	#featureInfoHead{
		padding: 0px;
		text-align: center;
		h3{
			margin-bottom: 100px;
		}
	}
	.featureInfoCon{
		margin-bottom: 0px;
		padding: 0px;
		position: absolute;
		z-index: 1;

		p{
			line-height: 25px;
		}
	}

	#featureCon1{
		margin-top: 200px;
		right: 0;
	}
	#featureCon2{
		margin-top: 480px;
		margin-left: 3%;
		left: 0;
	}

	#featureCon3{
		margin-top: 620px;
		right: 0;
		margin-right: 0;
	}

	#appCon{
		padding-top: 100px;
	}
	#appInfo{
		.buttonRed{
			margin-left: auto;
			margin-right: auto;
		}
	}

	#appPhones{
		width: 50%;

	}

	//PERSONAL CON

	#personalCon{
		text-align: center;
	}

	//ORDER
	#orderCon{
		background: url('../img/greenPlant2-med.jpg');
		text-align: center;
		background-size: auto 100%;
		background-position: center;
		background-repeat: no-repeat;
		padding-top: 100px;
		padding-bottom: 100px;

		#orderInfo{
			margin-bottom: 100px;
		}
		.buttonGreen{
			margin-left: auto;
			margin-right: auto;
		}
	}

	#updateP{
		margin-top: -10px;
	}

	#orderformCon{
		width: 650px;
		height: 500px;
		padding: 100px 20px;
		margin: auto;
		justify-content: center;
		background-repeat: no-repeat;
		
		input, button{
			width: 50%;
			
		}
	}

	#closeForm{
		-webkit-transition: 0.3s;transition: 0.3s;
	}

	#closeForm:hover{
		opacity: 0.5;
		-webkit-transition: 0.3s;transition: 0.3s;
	}


}



@media screen and (min-width: 992px){

	#whatTura{
		padding-right: 150px;
	}

	#personalCon{
		padding-right: 60px;
		text-align: left;
	}

	#personalDotCon{
		text-align: left;
	}

	.breakText{
		width: 310px;
	}

	#featureCon1 {
    margin-top: 260px;
	}

	#featureCon2 {
    margin-left: 5%;
	}

	//HEADER
	#headerNav{
		width: 100%;
		margin-right: 0px;
		padding: 0 50px;
		.buttonWhite{
			margin: 0;
		}
		.buttonWhite:hover{
			a{
				color: $green;
			}
		}
		ul{
			width: 100%;
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			-webkit-justify-content: space-between;
			-ms-flex-pack: justify;
			-webkit-box-align: center;-ms-flex-align: center;align-items: center;
		}
		li{
			width: 150px;
			text-align: center;
			a:hover{
				color: $darkGreen;

			}
		}
	}
	#turaIconCon{
		margin: 0px;
		position: static;
	}
	#turaIcon{
		width: 34px;
		margin: 0 auto;
		img{
			width: 34px;
		}
	}

	//FOOTER
	#footerSm{
		max-width: 170px;

		a{
			transition: 0.3s;
		}

		a:hover{
			transition: 0.3s;
			color: $green;
		}
	}
	#footerNav {
		ul li a{
			transition: 0.3s;
		}
		ul li a:hover{
			transition: 0.3s;
			color: $green;
		}
	}

	#subscribeButtonCon{
		width: 220px;
	}
	#subscribeInput{
		width: 170px
	}

	//ADD HOVER EFFECTS
	.buttonRed{
		transition: 0.3s;
		border: 2px solid $red;

		a{
			transition: 0.3s;
		}

	}
	.buttonRed:hover{
		background: none;
		transition: 0.3s;
		a{
			color: $red;
			transition: 0.3s;
		}
	}

	.buttonGreen{
		transition: 0.3s;
		border: 2px solid $green;
		a{
			transition: 0.3s;
		}

	}
	.buttonGreen:hover{
		background: none;
		transition: 0.3s;
		a{
			color: $green;
			transition: 0.3s;
		}
	}

	.buttonWhite{
		transition: 0.3s;
		a{
			transition: 0.3s;
		}

	}
	.buttonWhite:hover{
		background: $white;
		transition: 0.3s;
		a{
			color: $green;
			transition: 0.3s;
		}
	}

	#featureInfoHead{
		h3{
			margin-bottom: 200px;
		}
	}

	// HOME PAGE
	#whatTura{
		text-align: left;
	}
	#whatCon{
		.buttonRed{
			margin-left: 0px;
		}
	}
	#personalImg{
		margin-bottom: 0px;
		width: 100%;
		margin-top: -60px;
	}
	#plantPot{
		margin-top: -100px;
		width: 100%;
	}
	#personalCon{
		margin-top: 80px;
		padding-left: 50px;
	}

	//Features
	#featureCon2{
		margin-top: 480px;
	}

	//APP
	#appInfo{
		margin-bottom: 80px;
	}
	#appInfo2{
		margin-top: 50px;
		padding-left: 50px;
	}

	#appPhones{
		margin-top: 0px;
	}

	//ORDER 
	#orderCon{
	margin: 100px 0;
	}
}

@media screen and (min-width: 1200px){

	#featureCon3 {
    margin-top: 780px;
	}

	#featureCon2 {
	    margin-top: 580px;
	}
	#headerNav{
		padding: 0 100px;
	}

	#appInfo2{
		padding-left: 0px;
	}
	#appTablets{
		margin-top: -120px;
	}
	#appInfo{
		text-align: left;
		.buttonRed{
			margin-left: 0px;
		}
	}



	//ORDER 
	#orderCon{
		background: url('../img/greenPlant2-lrg.png');
		text-align: center;
		background-size: auto 100%;
		background-position: center;
		background-repeat: no-repeat;
		padding-top: 100px;
		padding-bottom: 100px;

		#orderInfo{
			margin-bottom: 0px;
		}
		.buttonGreen{
			margin-left: auto;
			margin-right: auto;
		}
	}
}